----
# Entregable 2 - 2020/21
----

# Instrucciones

* Introduce tu nombre y tus apellidos en la siguiente celda (reemplaza los que pone por el tuyo y tu email.
* Renombra el fichero agregando tus apellidos y nombre (en ese orden) al principio para su entrega. Por ejemplo, Martinez_Garcia_Juan_20_21_BIG_DATA_UNAV_Entregable_Parte.
* Lee atentamente las instrucciones de cada bloque completa el examen.

**Nombre:** Ubaldo  
**Apellidos:** Peralta Sánchez  
**Email:** uperaltasan@alumni.unav.es

# Parte 1

## Ventas de videojuegos

En esta primera parte vamos a estudiar un dataset con ventas de videojuegos.

Tenemos un fichero con datos de ventas de videojuegos con las siguientes columnas:

- Rank : Ranking de la venta del videojuego a nivel mundial
- Name : Nombre del videojuego
- Platform : Plataforma en la que fue lanzado (Wii, PS4, PC...et)
- Year : Año de lanzamiento
- Genero : Genero del videojuego
- Publisher : Empresa que publico el juego
- NA_Sales - Ventas en Norte America (en millones)
- EU_Sales - Ventas en Europa (en millones)
- JP_Sales - Ventas en Japon (en millones)
- Other_Sales - Ventas en el resto del mundo (en millones)
- Global_Sales - Ventas a nivel mundial (en millones)

Cargamos el dataset...

In [34]:
# carga el fichero con las ventas
import pandas as pd
from scipy import stats

games = pd.read_excel('ficheros_entregable2/vgsales.xlsx')
games.tail()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.0,0.0,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.0,0.0,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.0,0.0,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.0,0.0,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.0,0.0,0.01

## Ventas a nivel y datos global (1 punto)

¿Cuál es el videojuego que ha generado más ingresos a nivel global? (0.25 puntos)

In [28]:
games[games["Global_Sales"] == games["Global_Sales"].max()]["Name"]

0    Wii Sports
Name: Name, dtype: object

¿Cuál es la plataforma con mayor media de ventas a nivel global? (0.25 puntos)

In [99]:
games[["Platform","Global_Sales"]].groupby(["Platform"]).mean().sort_values("Global_Sales", ascending = False).head(1)

          Global_Sales
Platform
GB            2.606633

¿Cuál es la empresa que más dinero ha ganado con la venta de videojuegos? (0.25 puntos)

In [98]:
games[["Publisher","Global_Sales"]].groupby(["Publisher"]).sum().sort_values("Global_Sales", ascending = False).head(1)

           Global_Sales
Publisher
Nintendo        1786.56

¿Los videojuegos de qué año son los que más dinero han recaudado ? (0.25 puntos)

In [105]:
games[["Year","Global_Sales"]].groupby(["Year"]).sum().sort_values("Global_Sales", ascending = False).head(1)

        Global_Sales
Year
2008.0         678.9

## Calculando algunas datos interesantes (1 punto)

Calcula cual es el videojuego que se vendió más en cada una de las plataformas (0.5 puntos)

In [130]:
games[["Name","Platform","Global_Sales"]].groupby(["Platform","Name"]).sum().sort_values("Global_Sales",
ascending = False).groupby("Platform").head(1)

                                                 Global_Sales
Platform Name
Wii      Wii Sports                                     82.74
NES      Super Mario Bros.                              40.24
GB       Pokemon Red/Pokemon Blue                       31.37
DS       New Super Mario Bros.                          30.01
X360     Kinect Adventures!                             21.82
PS3      Grand Theft Auto V                             21.40
PS2      Grand Theft Auto: San Andreas                  20.81
SNES     Super Mario World                              20.61
GBA      Pokemon Ruby/Pokemon Sapphire                  15.85
3DS      Pokemon X/Pokemon Y                            14.35
PS4      Call of Duty: Black Ops 3                      14.24
N64      Super Mario 64                                 11.89
PS       Gran Turismo                                   10.95
XB       Halo 2                                          8.49
PC       The Sims 3                                      8.11
2600     Pac-Man                                         7.81
PSP      Grand Theft Auto: Liberty City Stories          7.72
XOne     Call of Duty: Black Ops 3                       7.30
GC       Super Smash Bros. Melee                         7.07
WiiU     Mario Kart 8                                    6.96
GEN      Sonic the Hedgehog 2                            6.03
DC       Sonic Adventure                                 2.42
PSV      Minecraft                                       2.25
SAT      Virtua Fighter 2                                1.93
SCD      Sonic CD                                        1.50
WS       Final Fantasy                                   0.51
NG       Samurai Shodown II                              0.25
TG16     Doukyuusei                                      0.14
3DO      Policenauts                                     0.06
GG       Sonic the Hedgehog 2 (8-bit)                    0.04
PCFX     Blue Breaker: Ken Yorimo Hohoemi o              0.03

Calcula cual es el videojuego que más se vendió para cada genero (0.5 puntos)

In [132]:
games[["Name","Genre","Global_Sales"]].groupby(["Genre","Name"]).sum().sort_values("Global_Sales",
ascending = False).groupby("Genre").head(1)

                                       Global_Sales
Genre        Name
Sports       Wii Sports                       82.74
Action       Grand Theft Auto V               55.92
Platform     Super Mario Bros.                45.31
Puzzle       Tetris                           35.84
Racing       Mario Kart Wii                   35.82
Role-Playing Pokemon Red/Pokemon Blue         31.37
Shooter      Call of Duty: Black Ops          31.03
Misc         Wii Play                         29.02
Simulation   Nintendogs                       24.76
Fighting     Super Smash Bros. Brawl          13.04
Adventure    Assassin's Creed                 11.30
Strategy     Pokemon Stadium                   5.45

## Evolución de las ventas a través de las décadas (1 punto)

Se quiere realizar un estudio de la evolución de las ventas medias de los videojuegos por décadas (los 80s, 90s, los 00s y los 01s). Las décadas se dividen como sigue:

Década 80s --> 1980 - 1989  
Década 90s --> 1990 - 1999  
Década 00s --> 2000 - 2009  
Década 10s --> 2010 - 2017  

Todos aquellos valores que no estén dentro de esas décadas pueden etiquetarse como 'Others'.

Genera una función que categorice las fechas por décadas (0.5 puntos) y extrae cómo ha evolucionado la facturacion global los videojuegos a lo largo de las diferentes décadas (0.5 puntos).

# Parte 2

## 5000 películas de IMD (The Internet Movie Database)

En este proyecto nos enfocaremos en el análisis exploratorio de datos de un dataset de 5000 películas obtenidas de la base de datos de [Internet Movie Database](https://www.imdb.com).

El objetivo de este ejercicio es poner en práctica varias de las técnicas vistas en Pandas a lo largo de la parte 2 del curso y ver cómo obtener métricas interesantes con este dataset. Hay que tener en cuenta que es un dataset que tiene información que puede ser incorrecta, incompleta, o directamente errónea, pero esto nos acerca a lo que se enfrenta de forma muy habitual un Data Scientist.

## Obtención de los datos

Este dataset lo podemos obtener de la página de [Kaggle directamente](https://www.kaggle.com/tmdb/tmdb-movie-metadata/downloads/tmdb_5000_movies.csv) o accediendo al fichero que se encuentra en el mismo lugar que este notebook.

Primero, debemos comenzar con los import apropiados, que ya hemos visto muchas veces.

Nota: Hemos usado el fichero original de IMDB pero por temas de Copyright deberíamos usar el de [TMDB](https://www.themoviedb.org/?language=es). Para el ámbito de este ejercicio no ocurre nada por hacerlo, pero en una aplicación real deberíamos usar el fichero de TMDB y no el de IMDB.

### Los imports

Aqui están:

In [ ]:
import pandas as pd
import numpy as np
import datetime

### Explorando los datos

Vamos a cargar el dataset de películas y obtener primero una descripción general del mismo. Carguemos el dataset primero.

In [ ]:
df = pd.read_csv('movie_metadata.csv')

Muestra el tipo de columnas y el head del dataset

## Rentabilidad por director y año (1 puntos)

**Obtén las diferencias entre el presupuesto de las películas y los ingresos en taquilla, la columna `gross`, añadiendo una nueva columna que se llame `diff_gross`. Muestra la diferencia entre presupuesto y total de taquilla por director de forma anual. El primer paso será limpiar los datos, ya que es posible que no todos las filas de la nueva columna tengan datos. Elimina aquéllas filas que contengan datos vacíos (missing values). Crea otro dataframe para no sobreescribir el original.**

**Agrupa el dataframe por director de película y realiza la suma de total la columna `diff_gross`, luego ordénalo de forma descendente**

## Directores y críticas (0.5 puntos)

**Vamos a realizar un estudio de los mejores directores en base a las mejores reviews obtenidas.**

**Utilizando el dataframe sin valores nulos, agrupa usando la función `group_by` los directores que han obtenido mayor número de críticas (entendiendo que a mayor el número, mejores son las críticas). Pista: Usa la columna `num_critic_for_reviews` para esto.**

## Ratio de críticas (1 puntos)

**IMDB es conocido por la desproporción a veces entre la valoración de los críticos profesionales y la de los usuarios de la plataforma; valores altos significan que la crítica profesional valora más la película y viceversa. Obtén este ratio y añádelo en una nueva columna llamada `critic_ratio`. Utiliza como fuente el dataframe sin datos vacíos**

**Obtén el listado de directores con la media del ratio de críticas. Como siempre, crea un nuevo dataframe y con éste crea un índice. Obtén aquellos con un mayor ratio solamente, los 20 primeros**

## Películas por género (1 puntos)

**Vamos a ver cuantas películas se han realizado por género. Ten en cuenta que una misma película puede pertener a varios géneros a la vez. Además si te fijas en la columna `genres` del dataframe sin valores vacíos, verás que tiene los géneros separados por el simbolo "|". Debemos por lo tanto que crear una función que traduzca ese campo a una lista de géneros.**

**Añade una nueva columna que se llame `genre_list` que sea el resultado de convertir la columna `genres` a una lista de géneros**

**Una vez hecho ésto debes obtener la lista de todos los géneros, recorriendo el dataframe anterior y obteniéndolos de la columna `genre_list`.**

**Pista 1: Deberás resetear el index con el [método](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.reset_index.html) `reset_index`**

**Pista 2: Crea una lista que tenga todas las listas dentro de cada fila del dataset.**

**Pista 3: Una vez tengas la lista con todos los generos de cada película, evidentemente hay muchas repeticiones. Usa la clase [Counter](https://pymotw.com/2/collections/counter.html) del módulo *collections* para crear un diccionario que tiene como claves los nómbres de los géneros y como valor el número de veces que aparecía en este lista**

**Pista 4: Una vez tengas el diccionario, puedes utilizar el [metodo de numpy](https://docs.scipy.org/doc/numpy/reference/generated/numpy.asarray.html) `asarray` para convertir las claves y los valores de ese diccionario a arrays numpy.**

In [ ]:
from collections import Counter

# Parte 3

## Evolución del COVID-19 durante la primera ola

En consonancia con la situación actual, en esta tercera parte os proponemos que exploréis un dataset asociado al COVID-19.

La enfermedad por coronavirus 2019 (COVID-19) es una enfermedad infecciosa causada por el coronavirus 2 del síndrome respiratorio agudo severo (SARS-CoV-2). Se identificó por primera vez en 2019 en Wuhan, China, y desde entonces se ha propagado a nivel mundial, lo que ha resultado en la pandemia de coronavirus 2019-20. Los síntomas comunes incluyen fiebre, tos y dificultad para respirar. El dolor muscular, la producción de esputo y el dolor de garganta son menos comunes. La tasa de muertes por número de casos diagnosticados es, en promedio, del 3,4%, oscilando entre el 0,2% en los menores de 20 años y aproximadamente el 15% en los mayores de 80 años.

Los datos que vamos a explorar provienenen del dataset disponible en: https://github.com/datadista/datasets/tree/master/COVID%2019 que contiene información sobre la situación diaria acumulada de la enfermedad por el coronavirus SARS-CoV-2 (COVID-19) en España en un formato accesible y reutilizable. 

En nuestro caso vamos a estudiar el fichero [ccaa_covid19_datos_isciii.csv](https://raw.githubusercontent.com/datadista/datasets/master/COVID%2019/ccaa_covid19_datos_isciii.csv), que contiene datos a nivel de casos registrados por Comunidad Autónoma y que podéis descargar desde el apartado del 2º entregable en ADI.

| Campo	        | Descripción	        | Formato  | Ejemplo |
| :-------------|:-------------------------------------------------------------------|----------|:-----------:|
| fecha	        | Fecha de notificación	| YYYY-MM-DD	| 2020-03-20|
| cod_ine	    | Código INE de CCAA	| Texto	   | 11|
| CCAA	        | Comunidad autónoma	| Texto	   | Madrid|
| Caso	        | Casos confirmados acumulados (NaN si no hay casos)	| Número |	7|
| Hospitalizados| Casos acumulados que han precisado hospitalización (incluyen UCI)|	Número	|7|
| UCI	        | Casos acumulados que han precisado ingreso en UCI|	Número|	7|
| Fallecidos	| Personas fallecidas acumuladas	|Número	|7|
| Recuperados	| Personas curadas acumuladas	|Número|7|

**Escribe un programa de Python para mostrar las primeras 5 filas del conjunto de datos COVID-19. Imprime también as 5 últimas filas del conjunto, la información del conjunto de datos  y estima cuántos valores ausentes (NaN) hay en cada columna y sustitúyelos por 0's (0.5 puntos)**.

In [ ]:
import pandas as pd
covid_data= pd.read_csv('ccaa_covid19_datos_isciii.csv')

**Escribe un programa de Python para obtener el número total de casos confirmados, hospitalizados, trasladados a la UCI, fallecidos y recuperados. Antes asegúrate de cargar de nuevo los datos importando el campo de las fechas como *datetime* y sustituyendo los valores *NaN* por *0's* . Convierte los valores numéricos a *int*. Luego crea un nuevo dataframe con la información del último día  y computa el total acumulando todos los valores de todas las CCAA en esa fecha (0.5 puntos).**

**Estima ahora la última cifra de casos confirmados, fallecidos y recuperados por CCAA. Para ello, asigna la columna *CCAA* como índice (hazlo *inplace*) y muestra los datos ordenados según número de casos, número de fallecidos y número de recuperados (0.5 puntos)**

**¿Cual es la última cifra de casos confirmados, hospitalizados, trasladados a la UCI, fallecidos y recuperados de COVID-19 en Navarra?. ¿Y el número de casos activos (i.e.: Casos - (Fallecidos + Recuperados))? (0.5 puntos).**

**Añade una columna de casos activos al dataframe *original* con los casos activos (*Activos*) en cada momento. Para ello, recuerda  cargar de nuevo el fichero, considerar las fechas como *datetime*, sustituir los *NaN's* por *0's* y convertir los valores numéricos a *int*. Luego puedes añadir la nueva columna *Activos*. (0.5 punto)**

**¿Qué día se produjeron los primeros casos por COVID-19 en España?. ¿Y los primeros fallecimientos (0.5 puntos)?**

**Escribe un programa de Python que devuelva la fecha en que se detectó el primer fallecido de COVID-19 en cada CCAA . Muéstralos de forma ordenada en función de la fecha (0.5 puntos)**

## ¡¡Buen trabajo!!